body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

a {
    text-decoration: none;
}

ul,
ol {
    list-style: none;
    padding: 0;
    margin: 0;
}
h1,
h2,
h3 {
    margin: 0;
}

p {
    margin: 0;
}

img {
    display: block;
    width: 100%;
    height: auto;
}
.container {
    max-width: 320px;
    padding: 0 16px;
    margin: 0 auto;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 768px;
    }
}

@media screen and (min-width: 1158px) {
    .container {
        max-width: 1158px;
        padding: 0 15px;
    }

}

.header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation {
    display: flex;
    align-items: center;
}

.logo {
    color: #4d5ae5;
    font-family: Raleway, sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding: 17px 0;
}

.logo-part {
    color: #2e2f42;
}

.nav-list {
    display: none;

}


.address {
    font-style: normal;
    margin-left: auto;
    display: none;
}

.open-menu-btn {
    padding: 0;
    line-height: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
}

@media screen and (min-width:768px) {


    .open-menu-btn {
        display: none;
    }

    .logo {
        margin-right: 120px;
    }

    .nav-list {
        display: flex;
        gap: 40px;
    }

    .nav-link {
        color: #2e2f42;
        font-size: 16px;
        font-weight: 500;
        line-height: 1.5;
        letter-spacing: 0.02em;
        padding: 24px 0;
        display: block;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .nav-link:hover,
    .nav-link:focus {
        color: #404bbf;
    }

    .current {
        position: relative;
        color: #404bbf;
    }

    .current::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -1px;
        background-color: #404bbf;
        border-radius: 2px;
        height: 4px;
        width: 100%;
    }

    .address {
        display: block;
    }

    .address-list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    .address-link {
        color: #434455;
        font-size: 12px;
        line-height: 1.16;
        letter-spacing: 0.02em;
        transition: color cubic-bezier(0.4, 0, 0.2, 1);
    }

    .address-link:hover,
    .address-link:focus {
        color: #404bbf;
    }
}

@media screen and (min-width: 1158px) {
    .logo {
        margin-right: 76px;
    }
    
    .address-list {
        flex-direction: row;
        gap: 40px;
    }

    .address-link {
        font-size: 16px;
        line-height: 1.5;
    }
}
/*---Mobile menu styles---*/
@media only screen and (max-width: 767px) {
    

.mobile-menu{
    
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999999999;

    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: opacity 250ms linear, visibility 250ms linear;
}

.mobile-menu.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}
.mobile-menu-close-btn{
    display: flex;
    margin: 0 auto;
    position: absolute;
    top: 24px;
    right: 24px;
    background-color: transparent;
    padding: 0;
    width: 24px;
    height: 24px;
    border: 1px solid rgba(0, 0, 0, 0.1) ;
    justify-content: center;
    align-items: center;
 transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    stroke: #2e2f42;
    border-radius: 50%;
     
}
.mobile-menu-container{
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-top: 72px;
    padding-bottom: 40px;

    
}
.mobile-nav-text { 
    
    margin-bottom: auto;
    }
    
    
.mobile-nav-menu-link {
     display: block;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-transform: capitalize;
        color: #2e2f42;
    
}
.link-part {
    color: #404BBF;
}
.mobile-nav-menu-link:hover,
.mobile-nav-menu-link:focus {
    color: #404bbf;
}
.mobile-nav-menu-list {
    margin-bottom: 40px;
}
.mobile-nav-menu-list:not(:last-child) {
          margin-bottom: 40px;
}


   

.mobile-info{
    margin-top: auto;
}
.mobile-list {
    margin-bottom: 48px;
}
.mobile-link{
    font-family: "Roboto", sans-serif;
    width: 193px;
    height: 72px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #434455;
    
}
.mobile-link-part{
    color: #4d5ae5;
}
.mobile-link:hover,
.mobile-link:focus {
    color: #4d5ae5;

}
.mobile-link-list{
    margin-bottom: 24px;
}
.mobile-link-list:last-child{
    margin-bottom: 24px;
}

.mobile-social-list{
    display: flex;
    justify-content: center;
    gap: 40px;

}
.mobile-social-link-item{
    width: 280px;
    height: 40px;
    
 }
 .mobile-social-link-item:hover,
 .mobile-social-link-item:focus {
 background-color: #404bbf;
 }
.mobile-social-list-link{
    width: 100%;
        height: 100%;
        background-color: #4d5ae5;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
.mobile-social-icons{
    fill: #f4f4fd;
    width: 24px;
    height: 24px;
  }
 }
@media only screen and (min-width: 768px) {
    .mobile-menu {
        display: none;
    }
 }
/*---Section Hero---*/
.hero{
        min-width: 320px;
        padding-top: 72px;
        padding-bottom: 72px;
        background-color: #2e2f42;
        background-repeat: no-repeat;
         background-position: center;
        background-size: cover;
        margin: 0 auto;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/bg-mobile.jpg');
}
@media only screen and (min-resolution: 192dpi) and (max-width: 767px) {
    .hero{
        min-width: 768px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url("../images/hero/bg-mobile@2x.jpg");
    }
}
.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;


}
.main-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    margin-bottom: 72px;
    max-width: 216px;
    color: #fff;
}
.buy-now-button{
    font-family: inherit;
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.04em;
        color: #fff;
        border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
        background: #4d5ae5;
        margin: 0 auto;
        display: block;
        border: none;
        transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.buy-now-button:hover,
.buy-now-button:focus {
    background-color: #404BBF;
}

@media screen and (min-width: 768px) {
    .hero {
        padding-top: 112px;
        padding-bottom: 112px;
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/bg-tablet.jpg');

    }
        @media only screen and (min-resolution: 192dpi) and (min-width: 768px) {
        .hero{
        background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/bg-tablet@2x.jpg');
        }
        }
    .main-title {
           font-size: 56px;
            line-height: 1.07;
            margin-bottom: 36px;
            max-width: 496px;
        }
                
}

@media screen and (min-width: 1158px) {
    .hero{
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/bg-desktop.jpg');
        }
     @media only screen and (min-resolution: 192dpi) and (min-width: 1158px) {
         .hero {
             background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url('../images/hero/bg-desktop@2x.jpg');
                 }
                }
    .main-title {
        margin-bottom: 48px;
                }
}
/*---Advantages section---*/
   .our-advantages {
       min-width: 288px;
       padding: 96px 0;
   }
           .advantages-list {
            display: flex;
            flex-wrap: wrap;
            gap: 72px;
               align-items: center;
}
.advantages-list-item {
    width: 100%;
}
.advantages-icons{
    display: none;
}
.icons{
    display: none;
}
.list-name {
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        margin-bottom: 8px;
}
.advantages-list-text {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    
}


@media screen and (min-width: 768px) { 
    .our-advantages {
            padding: 96px 0;
        }
    .advantages-list {
        column-gap: 24px;
        row-gap: 72px;
        }
                .list-name {
                    text-align: left;
                }
            
    .advantages-list-item {
                    width: calc((100% - 24px) / 2);
                 }
    
        
     }

 @media screen and (min-width: 1158px) {
    .our-advantages {
            padding: 120px 0;
        }
        .advantages-list-item {
             width: calc((100% - 72px) / 4);
 }
 .advantages-icons {
     display: flex;
     align-items: center;
     justify-content: center;
     margin-bottom: 8px;
     border: 1px solid #8e8f99;
     border-radius: 4px;
     width: 264px;
     height: 112px;
     background: #f4f4fd;
 }

 .icons {
    display: flex;
     margin: 24px 100px;
 }
 .list-name {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     }
 .advantages-list-text {
     font-weight: 400;
     
 } 
}
/*---Our Team---*/
.section {
    min-width: 320px;
    padding-top: 96px;
    padding-bottom: 96px;
}
.team-section {
    background: #f4f4fd;
}
.team-text {
    padding: 32px 0;
}
.team-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 72px;
}
.team-list-item {
    width: 264px;
    background-color: #FFFFFF;
        border-radius: 0 0 4px 4px;
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
            0px 1px 1px rgba(46, 47, 66, 0.16),
            0px 2px 1px rgba(46, 47, 66, 0.08);

}
.team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    text-align: center;
    color: #2e2f42;
    background-color: #f4f4fd;
    margin-bottom: 72px;
    margin-left: auto;
    margin-right: auto;
}
.team-list-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
    text-transform: capitalize;
    margin-bottom: 8px;
}
.team-list-text {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    margin-bottom: 8px;

}
.team-icons-list {
    display: flex;
    gap: 24px;
    justify-content: center;
}
.team-icons-list-item {
    width: 40px;
    height: 40px;
}
 .social-link {
     width: 100%;
     height: 100%;
     background-color: #4d5ae5;
     border-radius: 50%;
     display: flex;
     justify-content: center;
     align-items: center;
     transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .icons-team {
     fill: #f4f4fd;
     width: 16px;
     height: 16px;

 }
 .social-link:hover,
 .social-link:focus {
     background-color: #404bbf;
     box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
         0px 1px 1px rgba(46, 47, 66, 0.16),
         0px 2px 1px rgba(46, 47, 66, 0.08);
 }


@media screen and (min-width: 768px) {

    .team-list {
            flex-wrap: wrap;
            flex-direction: row;
            gap: 64px 24px;
        }
    .team-list-item {
            box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                        0px 1px 1px rgba(46, 47, 66, 0.16),
                        0px 2px 1px rgba(46, 47, 66, 0.08);
                }

}

@media screen and (min-width: 1158px) {
.section {
        padding-top: 120px;
        padding-bottom: 120px;
    }
        .team-list {
            display: flex;
            gap: 24px;
        }
        .team-list-item {
                width: calc((100% - 72px) / 4);
            
 }
       
  }
  /*---Our Portfolio---*/
  .section {
    min-width: 320px;
      padding: 96px 0;
      

  }
  .portfolio-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 1.11;
      letter-spacing: 0.02em;
      text-transform: capitalize;
      text-align: center;
      color: #2e2f42;
      margin-bottom: 72px;
  }

 .portfolio-list-our {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 48px;
 }
 .portfolio-list-item {
    border-radius: 0 0 4px 4px;
        box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
        background: #fff;
 }
 .name-text {

     padding: 32px 16px;
     border: 1px solid #e7e9fc;
     border-top: none;
 }
 .portfolio-name {
     font-weight: 500;
     font-size: 20px;
     line-height: 1.2;
     letter-spacing: 0.02em;
     color: #2e2f42;
     text-align: left;
     text-transform: capitalize;
     margin-bottom: 8px;
 }
 .portfolio-text {
     text-align: center;
     font-weight: 400;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     text-align: left;
     color: #434455;

 }
 .portfolio-list-img {
    max-width: 100%;
 }
.portfolio-overlay {
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transform: translateY(100%);
    padding: 40px 32px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

.portfolio-list-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);

}
  @media screen and (min-width: 768px) {
    .portfolio-list-our{
        flex-wrap: wrap;
        flex-direction: row;
        gap: 72px 24px;
    }
    .portfolio-list-item {
        width: 356px;
        
        box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08);
            
    }
  }


  @media screen and (min-width: 1158px) {
    .section {
            padding-top: 120px;
            padding-bottom: 120px;
    
        }
        .portfolio-list-our {
            display: flex;
            flex-wrap: wrap;
            column-gap: 24px;
            row-gap: 48px;
    
        }
        .portfolio-list-item {
            background: #fff;
            width: calc((100% - 48px) / 3);
            transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
            transform: translateY(0%);
    
        }
    .portfolio-list-item:hover {
                    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
                }
        

  }
/*---Section footer---*/
.section-footer {

    background-color: #2e2f42;
    padding: 96px 0;

}
.footer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px 24px;
}
.footer-content {
    width: 100%;
    }
 .footer-logo {
     font-family: "Raleway", sans-serif;
     font-weight: 700;
     font-size: 18px;
     line-height: 1.17;
     letter-spacing: 0.03em;
     text-transform: uppercase;
     color: #4d5ae5;
     display: inline-block;
     margin-bottom: 16px;
     
}
.logo-title {
    color: #f4f4fd;

}
.footer-social-media,
.subscribe-text,
.footer-logo {
 display: flex;
 justify-content: center;
 font-weight: 500;
 margin-bottom: 16px;
}   
.footer-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;

}
.social-list {
    display: flex;
    gap: 16px;
}
.social-link-item {
    width: 40px;
    height: 40px;
}

.container-social-media {
     margin-bottom: 72px;
}
.footer-social-media {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    margin-bottom: 16px;


}
.social-list-link {
    display: flex;
    fill: #f4f4fd;
    justify-content: center;
    align-items: center;
    gap: 16px;
    border-radius: 50%;
    background-color: #4d5ae5;
    width: 100%;
    height: 100%;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
social-icons {

    fill: #f4f4fd;
    width: 24px;
    height: 24px;

}
.social-list-link:hover,
.social-list-link:focus {
    background-color: #31d0aa;
}


 @media screen and (min-width: 768px) {

    .footer-container {
        
        display: flex;
        flex-wrap: wrap;
        align-items: baseline;
        flex-direction: row;
        justify-content: flex-start;
        gap:72px 24px;
        padding-left: 108px;
         }
                 .footer-content {
                    text-align: start;
                     width: 264px;
                     margin-right: 24px;
        
                 }
     .container-social-media {
        text-align: start;
     }
        .footer-text {
            margin: 0;
            width: 264px;
        }
        .social-list {
            justify-content: start;
        }
         .subscribe {
            width: 453px;
         }
         .subscribe-label {
            display: flex;
            flex-direction: row;
            gap: 24px;
         }
        .footer-social-media {
            justify-content: left;
        }
        .footer-logo,
        .logo-title {
            justify-content: left;
        }
                
    .subscribe-text {
        justify-content: left;
    }


 }

 @media screen and (min-width: 1158px) {
.section-footer {
        padding: 100px 0;
    
    }
        .footer-container {
            
            display: flex;
            flex-wrap: nowrap;
            align-items: baseline;
            max-width: 1158px;
            padding-left: 15px;
            gap: 0;
            
            
            }
            .container-social-media{
                margin-right: 80px;
            
            }
        
                .footer-content { 
                min-width: 264px;
                margin-right: 120px;
                    
                }
            .footer-text {
                width: 264px;
            }
 }
 /*---subscribe---*/
 
 .subscribe-text {
     font-weight: 500;
     font-size: 16px;
     line-height: 1.5;
     letter-spacing: 0.02em;
     color: #fff;
     margin-bottom: 16px;
 }
 .subscribe-form {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
 }
 .subscribe-input {
     width: 288px;
     height: 40px;
     border: 1px solid #ffffff;
     background-color: transparent;
     font-size: 12px;
     line-height: 2;
     letter-spacing: 0.04em;
     padding-left: 16px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     border-radius: 4px;
     margin-bottom: 16px;
    opacity: 0.6;
     color: #ffffff;

 }
 .subscribe-input::placeholder {
     color: #ffffff;
 }
 .subscribe-button {
     font-family: "Roboto", sans-serif;
     display: flex;
     margin: 0 auto;
     min-width: 165px;
     height: 40px;
     justify-content: center;
     align-items: center;
     font-size: 16px;
     font-weight: 500;
     line-height: 1.5;
     letter-spacing: 0.04em;
     color: #ffffff;
     cursor: pointer;
     background-color: #4D5AE5;
     border: none;
     border-radius: 4px;


 }
 .subscribe-icon {
     margin-left: 16px;
     fill: #fff;

 }

 @media screen and (min-width: 768px) { 

    .subscribe-input {
        width: 264px;
        
    }
    ..subscribe-input::placeholder {
        color: #ffffff;
        opacity: 0,6;
    }
        .subscribe-button:hover,
        .subscribe-button:focus {
            background-color: #404bbf;
        }
    
 }

 @media screen and (min-width: 1158px) {
.subscribe-form {
        display: flex;
        gap: 24px;
    }
    
        
 }
/*--modal backdrop*/
 .backdrop {
     position: fixed;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
     background-color: rgba(46, 47, 66, 0.4);
     opacity: 0;
     visibility: hidden;
     position: none;
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
 .is-open {
     opacity: 1;
     visibility: visible;
     pointer-events: auto;
 }
 .modal {
    width: 408px;
    min-height: 584px;
    padding: 72px 24px 24px;
     position: absolute;
     top: 50%;
     left: 50%;
     transform: translate(-50%, -50%) scale(1);
     width: 288px;
     min-height: 623px;
     background-color: #fcfcfc;
     border-radius: 4px;
     transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }
  .modal-close-btn {
      position: absolute;
      top: 24px;
      right: 24px;
      width: 24px;
      height: 24px;
      border-radius: 50%;
      padding: 0;
      cursor: pointer;
      border: 1px solid rgba(0, 0, 0, 0.1);
      background-color: #e7e9fc;
      display: flex;
      justify-content: center;
      align-items: center;
      transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal-close-btn:hover,
  .modal-close-btn:focus {
      background-color: #404bbf;
      border: none;
  }

  .modal-close-icon {
      transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-close-btn:hover>.modal-close-icon,
  .modal-close-btn:focus>.modal-close-icon {
      fill: #ffffff;
  }
  .review-form-description {
    
      font-weight: 500;
      font-size: 16px;
      line-height: 1.5;
      letter-spacing: 0.02em;
      text-align: center;
      color: #2e2f42;
      margin-bottom: 16px;
  }
  .review-form-field-wrapper {
      margin-bottom: 8px;
  }
.review-form-field-label {
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
    margin-bottom: 4px;
}
.review-form-input-wrapper {
    position: relative;
}
.review-form-input {
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 34px;
    outline: transparent;
    background-color: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-input:focus {
    border-color: #4d5ae5;
    outline: transparent;
}
.review-form-field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);
    fill: #2e2f42;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.review-form-input:focus+.review-form-field-icon {
    fill: #4d5ae5;
}
.review-form-message {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: rgba(46, 47, 66, 0.4);
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 120px;
    background-color: transparent;
    resize: none;
    padding: 8px 16px;
    outline: transparent;
    margin-bottom: 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.review-form-message::placeholder {
    color: rgba(46, 47, 66, 0.4);
}
.review-form-message:focus {
    border-color: #4d5ae5;
    outline: transparent;
}
.review-form-checkbox-wrapper {
    margin-bottom: 24px;
}
.review-form-checkbox-label {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #8e8f99;
}
.review-form-field-wrapper-comment {
    margin-bottom: 16px;
}
.review-form-own-checkbox {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: 1px solid rgba(46, 47, 66, 0.4);
    cursor: pointer;
    fill: transparent;
    margin-right: 8px;


}
.review-form-privacy-checkbox:checked+.review-form-checkbox-label .review-form-own-checkbox {
    background-color: #404bbf;
    fill: #f4f4fd;
    border-color: #404bbf;
    border: none;
}
.review-form-privacy-checkbox:focus+.review-form-checkbox-label .review-form-own-checkbox {
    outline: 1px solid #404bbf;
}
privacy-policy-link {
    text-decoration: underline;
    color: #4d5ae5;
}
.review-form-submit-btn {
    display: block;
    margin: 0 auto;
    border: none;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.review-form-submit-btn:hover,
.review-form-submit-btn:focus {
    background-color: #404BBF;
}
  

@media screen and (min-width: 768px) {
.modal {
        width: 408px;
        min-height: 584px;
        padding-left: 24px;
        padding-right: 24px;
    }
    

}

@media screen and (min-width: 1158px) {
.review-form-input {
    padding-left: 38px;
}
.review-form-submit-btn {
    border-radius: 4px;
        padding: 16px 32px;
        min-width: 169px;
        height: 56px;
}
    
}





